{
  "auth": {
    "identityProviders": {
      "azureActiveDirectory": {
        "enabled": true
      },
      "gitHub": {
        "enabled": true
      }
    }
  },
  "routes": [
    {
      "route": "/api/*",
      "allowedRoles": ["authenticated"]
    },
    {
      "route": "/*",
      "allowedRoles": ["authenticated"]
    }
  ],
  "responseOverrides": {
    "401": {
      "redirect": "/.auth/login/aad",
      "statusCode": 302
    }
  },
  "globalHeaders": {
    "X-Frame-Options": "SAMEORIGIN"
  }
}